{{define "user-bar"}}
    {{with user .ctx}}
        <div class="kt-header__topbar-item kt-header__topbar-item--user">
        <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,0px">
            <span class="kt-header__topbar-welcome kt-visible-desktop">Hi,</span>

            <div class="kt-header__topbar-username kt-visible-desktop mr-1" id="username"> {{.Email}}  </div>
            <img alt="Pic" src="/check/assets/media/icons/avatar-dashboard.webp"/>

            <span class="kt-header__topbar-icon kt-bg-brand kt-hidden"><b>S</b></span>
        </div>
        <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-xl">

        <!--begin: Head -->
        <div class="kt-user-card kt-user-card--skin-light kt-notification-item-padding-x">
            <div class="kt-user-card__avatar">

                <!--use below badge element instead the user avatar to display username's first letter(remove kt-hidden class to display it) -->
                <span class="kt-badge kt-badge--username kt-badge--unified-success kt-badge--lg kt-badge--rounded kt-badge--bold kt-hidden">S</span>
            </div>
            <div class="kt-user-card__name">
                {{.Name}}
            </div>
            <div class="kt-user-card__badge">
                <span class="btn btn-label-primary btn-sm btn-bold btn-font-md"></span>
            </div>
        </div>

        <!--end: Head -->

        <!--begin: Navigation -->
        <div class="kt-notification">
        <a href="/check/admin/users/profile"
           class="kt-notification__item">
            <div class="kt-notification__item-icon">
                <i class="flaticon2-calendar-3 kt-font-success"></i>
            </div>
            <div class="kt-notification__item-details">
                <div class="kt-notification__item-title kt-font-bold">
                    My Profile
                </div>
                <div class="kt-notification__item-time">
                    Account settings and more
                </div>
            </div>
        </a>
    {{end}}

    <div class="kt-notification__custom kt-space-between">
        <form method="POST" action="/check/admin/logout">
            <input type="submit" class="btn btn-label btn-label-brand btn-sm btn-bold" value="Sign Out">
        </form>
    </div>
        </div>

    <!--end: Navigation -->
        </div>
    </div>
{{end}}