<!--begin::Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Asap+Condensed:500">
<!--end::Fonts -->
<!--begin::Page Vendors Styles(used by this page) -->
<link href="/check/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />
<!--end::Page Vendors Styles -->
<!--begin::Global Theme Styles(used by all pages) -->
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<link href="/check/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
<link href="/check/assets/css/pages/wizard/wizard-1.css" rel="stylesheet" type="text/css" />
<link href="/check/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
<link href="/check/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
<!--end::Global Theme Styles -->
<!--begin::Layout Skins(used by all pages) -->
<!--end::Layout Skins -->
<link rel="shortcut icon" href="/check/assets/media/logos/favicon.ico" />