<!--begin::Fonts -->
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Asap+Condensed:500">

<!--end::Fonts -->

<!--begin::Page Vendors Styles(used by this page) -->
<link href="/klik/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css"/>

<!--end::Page Vendors Styles -->

<!--begin::Global Theme Styles(used by all pages) -->
<link href="/klik/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css"/>
<link href="/klik/assets/css/style.bundle.css" rel="stylesheet" type="text/css"/>
<link href="/klik/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
<link href="/klik/assets/css/pages/wizard/wizard-1.css" rel="stylesheet" type="text/css" />
<!--<script src="/klik/assets/js/pages/custom/wizard/wizard-1.js" type="text/javascript"></script>-->

<!--end::Global Theme Styles -->

<!--begin::Layout Skins(used by all pages) -->

<!--end::Layout Skins -->