{{define "content"}}
    <div class="row">
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Permission Detail
                        </h3>
                    </div>
                </div>

                <!--begin::Form-->
                <div class="kt-portlet__body">
                    <div class="kt-section kt-section--first collapsed">
                        <form class="kt-form">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="feature">Feature:</label>
                                        <input type="text" name="feature" id="feature" class="form-control"
                                               value="{{.data.Feature}}" disabled>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="url">Url:</label>
                                        <input type="text" name="url" id="url" class="form-control"
                                               value="{{.data.Url}}" disabled>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="description">Description:</label>
                                        <textarea class="form-control" id="description"
                                                  name="description" disabled>{{.data.Description}}</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="kt-portlet__foot">
                                <div class="kt-form__actions">
                                    <a href="/check/admin/permissions/list" class="btn btn-secondary">Back</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--end::Portlet-->
        </div>
    </div>
{{end}}



